{% extends "auth_base.html" %}
{% block body %}

        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        
                        
                        <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                        
                        <p class="text-center mb-0">
                            <a href="{% url 'accounts:login' %}">Back to Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
 {% endblock body %}
