{% extends "auth_base.html" %}
{% load static %}
<title>{% block title %} Yuvaa | register {% endblock %}</title>
{% load django_bootstrap5 %}
{% block body %}

<style>
    /* Form Labels */
.user-form label {
    font-weight: bold;
    
    display: block;
    margin-bottom: 5px;
}

</style>


        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-6">
                        <div class="user-form-logo">
                            <a href="/"><img src="{% static 'en/images/yuva_logo.png'%}" alt="logo"></a>
                        </div>
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>welcome!</h2>
                                <p>Use your credentials to access</p>
                            </div>
                            <div class="user-form-group">
                               
                                <form class="user-form" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="{{ form.username.id_for_label }}">Username</label>
                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <small class="error">{{ form.username.errors.0 }}</small>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ form.email.id_for_label }}">Email</label>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <small class="error">{{ form.email.errors.0 }}</small>
                                        {% endif %}
                                    </div>
                            
                                    <div class="form-group">
                                        <label for="{{ form.password1.id_for_label }}">Password</label>
                                        {{ form.password1 }}
                                        {% if form.password1.errors %}
                                            <small class="error">{{ form.password1.errors.0 }}</small>
                                        {% endif %}
                                    </div>
                            
                                    <div class="form-group">
                                        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                                        {{ form.password2 }}
                                        {% if form.password2.errors %}
                                            <small class="error">{{ form.password2.errors.0 }}</small>
                                        {% endif %}
                                    </div>
                            
                                 
                                    <br>
                                    <div class="form-button">
                                        <button type="submit">Signup</button>
                                        <p>Forgot your password?<a href="#">reset here</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="user-form-remind">
                            <p>Don't have any account?<a href="{% url 'accounts:login' %}">Login</a></p>
                        </div>
                        <div class="user-form-footer">
                            <p>Yuvaa | &COPY; Copyright by <a href="#">InnovatioHub Softwares</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock body %}
